<h1>Turmrechnen with Angular</h1>

<table>

  <tr>

    <td>Start Value:</td>
    <td><input type="number" [(ngModel)]="startValue"></td>
  </tr>

  <tr>
    <td>Height</td>
    <td><input type="number" [(ngModel)]="height"></td>
    <td style="color:red" *ngIf="height<2">Height must be >= 2</td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td><input (click)="calculate()" type="button" value="Calculate" [disabled]="height<2"></td>
  </tr>

</table>

<table>

  <tr *ngFor="let step of result">

    <td style="text-align:right">{{step[0]}}</td>
    <td>{{step[1]}}</td>
    <td style="text-align:right">{{step[2]}}</td>
    <td>=</td>
    <td>{{step[3]}}</td>

  </tr>

</table>